<div>
  <div class="row">
    <div class="col-lg-6">
      <p> d3js graphs</p>
      <h1></h1>
{{!--       <div> {{hbsObject: Product}} </div> --}}
    </div>
  </div>
</div>
<script type="text/javascript" src="/assets/javascripts/bargraphs.js"></script>