<div>
  <div class="row">
    <div class="col-lg-6">
      <p> Weapon List</p>
  
{{!--       <div> {{hbsObject: Product}} </div> --}}
    </div>
  </div>
</div>
<script type="text/javascript" src="/assets/javascripts/logic.js"></script>